#contents { 
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px;
    overflow: hidden;
    position: fixed;
    background: url("../../assets/images/bg2.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    margin-left: 35vw;
    margin-top : 40vh;
    width : 30vw;
    height : 10vh;
    cursor: pointer;
    background-color: brown;
    color : white;
    font-size: 20px;
}