<div class="columns" id="pokemon-arena"style="margin: 10px;" style="background-image :url(../assets/images/arena.jpg); background-repeat: no-repeat;background-position: center; background-size: cover;">
  <div class="column is-one-third">
    <div class="box" style="background-color: rgba(255 , 0, 0, 0.8); margin: 40px">
      <div class="player">
          <h1 class="title is-centered is-2" style="text-align: center; color : white; font-family: Agency FB;">{{pokemon1?.name.toUpperCase()}}</h1>

          <div class="pokemon-detail" >
              <div class="pokemon-stats">
                <article class="media">
                  <div class="media-left" >
                    <figure class="image is-24x24">
                      <img src="../assets/images/coeur.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong style="color: white;">{{pokemon1?.hp}}</strong>

                        <progress class="progress is-info" [value]="pokemon1?.hp / pokemon1?.maxHp * 100 " max="100" style="margin-top:10px"></progress>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
          </div>
      </div>
    </div>

  </div>
  <div class="column">
      <h1 class="title is-centered is-1" style="text-align: center; color : white; font-family: Agency FB; margin-top:20px;"> VS</h1>

    <div class ="box" id="log-screen">
        <p [className]="log.type == LogType.ATTACK ? 'log-text red' :
                        log.type == LogType.LOST_HP ? 'log-text yellow' :
                        log.type == LogType.INFOS ? 'log-text blue' :
                        log.type == LogType.WINNER ? 'log-text green' : 'log-text'" *ngFor="let log of loggerService.logs">{{ log.date | date:'HH:mm:ss' }} - {{ log.text }}</p>
    </div>
    <img alt="Pokemon-1" id="pokemon1" [className]="pokemon1?.hp > 0 ? 'pokemon-image' : 'pokemon-image looser'" src="{{ pokemon1?.backDefault }}">
    <img alt="Pokemon-2" id="pokemon2" [className]="pokemon2?.hp > 0 ? 'pokemon-image' : 'pokemon-image looser'" src="{{ pokemon2?.frontDefault }}">

    <button class="button is-warning is-fullwidth" (click)="handleMainButton()"  id="start">
      <figure class="image is-24x24">
        <img src="../assets/images/pokeball.png">
      </figure>
      <p *ngIf="!isFinished && !isRunning" class="start-text"> PLAY</p>
      <p *ngIf="!isFinished && isRunning" class="start-text"> STOP</p>
      <p *ngIf="isFinished" class="start-text"> AGAIN</p>
    </button>

    <button class="button is-info is-fullwidth" [routerLink]="['/home']" *ngIf="isFinished" id="finish">
      <figure class="image is-24x24">
        <img src="../assets/images/pokeball.png">
      </figure>
        <p class="start-text"> FINISH</p>
    </button>

  </div>
  <div class="column is-one-third">
    <div class="box" style="background-color: rgba(0, 0, 255, 0.8); margin: 40px">
      <div class="player">
          <h1 class="title is-centered is-2" style="text-align: center; color : white; font-family: Agency FB;"> {{pokemon2?.name.toUpperCase()}}</h1>
          <div class="pokemon-detail" >
              <div class="pokemon-stats">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-24x24">
                      <img src="../assets/images/coeur.png">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong style="color: white;">{{pokemon2?.hp}}</strong>

                        <progress class="progress is-info" [value]="pokemon2?.hp / pokemon2?.maxHp * 100 " max="100" style="margin-top:20px"></progress>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
