#pokemon-arena {
    width : 100vw;
    height: 100vh;
}

#log-screen {
    background-color: rgba(0, 0, 0, 0.8);
    height: 180px;
    overflow: hidden;
}

.pokemon-image {
    position: absolute;
    z-index: 2;
    width: 140px;
}

.pokemon-image.looser {
    filter: grayscale(100%);
}

#pokemon1 {
    left: 30vw;
    top: 22vw;
}

#pokemon2 {
    left: 63vw;
    top: 21vw;
}



#start {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color : white;
    font-family: Agency FB;
    top: 11vw;
}
#finish {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color : white;
  font-family: Agency FB;
  top: 12vw;
}

.log-text {
    font-family: 'Pokemon_GB';
    font-size: 0.7vw;
}

.yellow {
    color: #F1D000;
}

.red {
    color: #CD1313;
}

.green {
    color: #26DA0A;
}

.blue {
    color: #2a75bb;
}
